<div class="profile-header">
  <h1>DRIVER PROFILE</h1>
</div>

<div class="container">
  <div class="profile-card" >
    <img src="https://i.pinimg.com/564x/56/ab/b6/56abb62ab9c4437b80ebfbd3e1298605.jpg" alt="Driver Photo">
    <h2>{{user.username}}</h2>
    <p><strong>Experience:</strong> 5 years</p>
    <p><strong>Languages:</strong> Arabic, English</p>
    <p><strong>Contact:</strong> {{user.email}}</p>
    <a href="#" class="btn btn-primary">Contact</a>
    <div class="social-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

  <div class="history">
    <h3>History</h3>
    <ul>
      <li>
        <i class="fas fa-taxi"></i>
        <p>Taxi driver in Paris for 5 years, specializing in tourist transportation.</p>
      </li>
      <li>
        <i class="fas fa-bus"></i>
        <p>School bus driver for 3 years, ensuring children's safety.</p>
      </li>
      <li>
        <i class="fas fa-car"></i>
        <p>Private driver for an international company for 2 years, providing high-quality services to senior executives.</p>
      </li>
    </ul>
  </div>
</div>
